@model Zodo.Assets.Core.Asset
@using Newtonsoft.Json;
@{
    ViewBag.Title = Model.Id > 0 ? "编辑资产信息" : "资产登记";
    var accountsJson = JsonConvert.SerializeObject(ViewBag.Accounts);
}

<div class="container-980">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <div class="form-box-title">@ViewBag.Title</div>
        <table class="table-search">
            <tr class="row">
                <td class="label"><span class="text-red">*</span> 资产类型</td>
                <td class="control">
                    <select asp-for="AssetCateId" asp-items="ViewBag.Cates" isvalid="yes" checkexpession="NotNull">
                        <option value="">请选择</option>
                    </select>
                </td>
                <td class="label"><span class="text-red">*</span> 状态</td>
                <td class="control">
                    <select asp-for="State" asp-items="ViewBag.States"></select>
                </td>
                <td rowspan="7" colspan="2">
                    <div id="popLt" style="padding: 7px 0 20px 20px;">
                        <object id="view1" type="application/x-eloamplugin" width="100%" height="310" name="view"></object>
                        <div class="row">
                            <div class="col-3" style="padding: 0 2px;">
                                <input type="button" class="btn btn-default btn-fluid btn-mini" onclick="Left()" value="左转" />
                            </div>
                            <div class="col-3" style="padding: 0 2px;">
                                <input type="button" class="btn btn-default btn-fluid btn-mini" onclick="Right()" value="右转" />
                            </div>
                            <div class="col-3" style="padding: 0 2px;">
                                <input type="button" class="btn btn-green btn-fluid btn-mini" name="name" value="初始化" onclick="InitLt()" />
                            </div>
                            <div class="col-3" style="padding: 0 2px;">
                                <input type="button" class="btn btn-blue btn-fluid btn-mini" value="扫描上传" id="scan" onclick="Scan(scanFinishedFn)" />
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">资产编号</td>
                <td class="control">
                    <input asp-for="Code" type="text" />
                </td>
                <td class="label">财务编号</td>
                <td class="control">
                    <input asp-for="FinancialCode" />
                </td>
            </tr>
            <tr>
                <td class="label"><span class="text-red">*</span> 资产名称</td>
                <td class="control" colspan="3">
                    <input asp-for="Name" type="text" isvalid="yes" checkexpession="NotNull" />
                </td>
            </tr>
            <tr>
                <td class="label"><span class="text-red">*</span> 采购来源</td>
                <td class="control">
                    <input asp-for="Source" type="text" />
                </td>
                <td class="label"><span class="text-red">*</span> 购入金额</td>
                <td class="control">
                    <input asp-for="Price" type="number" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="label"><span class="text-red">*</span> 购入日期</td>
                <td class="control">
                    <input asp-for="AssignDate" type="date" />
                </td>
                <td class="label"><span class="text-red">*</span> 健康度</td>
                <td class="control">
                    <select asp-for="Healthy" asp-items="ViewBag.Healthy"></select>
                </td>
            </tr>
            <tr>
                @*@if (Model.Id == 0)
            {*@
                <td class="label">所在部门</td>
                <td class="control">
                    <select asp-for="DeptId" asp-items="ViewBag.Depts">
                        <option value="">请选择</option>
                    </select>
                </td>
                <td class="label">当前使用人</td>
                <td class="control">
                    <select asp-for="AccountId">
                        <option value="">请选择</option>
                    </select>
                </td>
                @*}
            else
            {
                <td class="label">所在部门</td>
                <td class="control">
                    <input type="text" readonly="readonly" value="@ViewBag.DeptName" />
                </td>
                <td class="label">当前使用人</td>
                <td class="control">
                    <input type="text" readonly="readonly" value="@ViewBag.AccountName" />
                </td>
            }*@
            </tr>
            <tr>
                <td class="label"><span class="text-red">*</span> 资产位置</td>
                <td class="control" colspan="3">
                    <input asp-for="Position" type="text" />
                </td>
            </tr>
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td class="label">品牌</td>
                <td class="control">
                    <input asp-for="Band" type="text" />
                </td>
                <td class="label">型号</td>
                <td class="control">
                    <input asp-for="Model" type="text" />
                </td>
                <td class="label">规格</td>
                <td class="control">
                    <input asp-for="Specification" type="text" />
                </td>

            </tr>
            <tr>
                <td colspan="6">&nbsp;</td>
            </tr>
            <tr>
                <td class="label">序列号</td>
                <td class="control" colspan="5">
                    <input asp-for="Imei" type="text" />
                </td>
            </tr>
            <tr>
                <td colspan="6">&nbsp;</td>
            </tr>
            <tr>
                <td class="label">备注</td>
                <td class="control" colspan="5">
                    <textarea asp-for="Remark"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td class="label">资产图片</td>
                <td class="control" colspan="5">
                    <div id="pic" data-count="5" data-url="/Upload/Image"></div>
                </td>
            </tr>
            <tr>
                <td colspan="6"><hr /></td>
            </tr>
            <tr>
                <td class="label">资产封面</td>
                <td class="control" colspan="5">
                    <div id="cover" data-count="5" data-url="/Upload/Image"></div>
                </td>
            </tr>
        </table>
        <hr />
        <div class="form-box-foot content-center">
            <input type="submit" value="提交" class="btn btn-green" />
            <input id="btn-closeSelf" type="button" value="关闭" class="btn btn-red btn-close" onclick="myUI.closeSelf('tab')" />
        </div>
    }
    </div>


    @section scripts {
        <script src="~/lib/validator/validator.js"></script>
        <script src="~/lib/myui/myImageUploader.js"></script>
        <script src="~/lib/liangtian/ltScanner.js"></script>
        <script>
        myUI.initForm({
            pageType: 'tab'
        });

        var pics = $("#pic").MultiImageUploader({
            valueFormName: "Pics",
            value: "@Model.Pics"
        });

        var pics = $("#cover").MultiImageUploader({
            valueFormName: "Cover",
            value: "@Model.Cover"
        });


        var accounts = @Html.Raw(accountsJson);
        var accountId = @Model.AccountId;

        function calcAccountDropdowList() {
            var deptId = $('#DeptId').val();
            var dom = $('#AccountId');
            dom.html('');
            var html = '<option value="">请选择</option>';
            accounts.forEach(function (item, idx) {
                if (item.DeptId == deptId) {
                    html += '<option value="' + item.Id + '" ' + ((accountId && accountId == item.Id) ? ' selected ' : '') + '>' + item.Name + '</option>';
                }
            });
            dom.html(html);
        }

        $(function () {
            $('#DeptId').on('change', function () {
                calcAccountDropdowList();
            });

            if ($('#DeptId').val()) {
                $('#DeptId').trigger('change');
            }
        });

        function scanFinishedFn(response) {
            if (response.code == 200) {
                pics.add(response.body);
            } else {
                alert(response.message);
            }
        }

        function openScan() {
            layer.open({
                type: 1,
                title: false,
                area: ["500px", "420px"],
                content: $('#popLt')
            });
        }
        </script>
    }
